


<div>
  <h1>{{cours?.name}}</h1>
</div>

<h2> Tableau des résultats</h2>



<table class="table table-striped">
  <thead>
  <th scope="col">#</th>
  <th scope="col">Nom</th>
  <th scope="col">Prenom</th>
  <th scope="col">resultat</th>
  <th scope="col"> Réussite </th>

  </thead>
  <tbody>
  <tr *ngFor="let resultats of resultat, index as i">
    <th scope="row">{{i+1}}</th>
    <td scope="row">{{resultats?.nomPerson}}</td>
    <td scope="row">{{resultats?.prenomPerson}}</td>
    <td scope="row">{{resultats?.resultat}} %</td>
    <td scope="row">
      <div *ngIf="resultats?.reussite then oui else non" ></div>
      <ng-template #oui>
        oui
      </ng-template>
      <ng-template #non>
        non
      </ng-template>
    </td>



  </tbody>

</table>
<button  class="ajouter" routerLink="../../ajoutresultat/{{cours?.idCours}}"> Ajouter resultat</button>
