<head>
  <title>Affichage Dynamique</title>

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<h1> Listes des cours</h1>
  <table  class="table table-striped">
    <thead>
    <tr>
      <th >#</th>
      <th  sortable="name">Nom </th>
      <th  sortable="datedebut"> Date début</th>
      <th  sortable="datefin"> Date fin</th>
      <th  > Détails</th>
      <th  >

        <mat-form-field>
          <mat-label>Choix de l'affichage</mat-label>
      <mat-select [(ngModel)]="idE" name="ecrans" >
        <mat-option *ngFor="let ecran of ecran" [value]="ecran.idEcran"  > {{ecran.nomEcran}}</mat-option>

      </mat-select>

        </mat-form-field>
      </th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cours of cours ,index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td scope="row">{{cours?.name}}</td>
      <td scope="row">{{cours?.datedebut |date :"dd-MM-yyyy"}}</td>
      <td scope="row">{{cours?.datefin |date :"dd-MM-yyyy"}}</td>
      <td scope="row">
      <button type="button" class="btn btn-primary" routerLink="../detailscours/{{cours?.idCours}}"> Détails</button>

      </td>
      <td> <button class="btn btn-primary" (click)="Ajouter(cours?.idCours)" > Ajouter a l'affichage </button>  </td>

    </tr>

    </tbody>
    <button type="button" class="ajouter" routerLink="../ajoutcours"> AJOUTER COURS</button>

  </table>

</body>
