<h1> Ajout absence </h1>


<h2>Personne absente</h2>
  <form appearance="fill">
    <label>Personne absente</label>
    <select  matNativeControl [(ngModel)]="idPerson"  name="person"  class="form-control form-control-sm">

      <option  *ngFor="let person of persons" [value]="person.idRole" >
        {{person.nom}} {{person.prenom}}
      </option>
    </select>
  </form>

<h2> raison absence </h2>
<form>

  <select [(ngModel)]=" idAbsence"  name="absence"  class="form-control form-control-sm">

    <option  *ngFor="let absence of absences" [value]="absence.idRole" >
      {{absence.type}}
    </option>
  </select>
</form>
<br>
<label >Date début</label>
<div >
  <input  class="form-control" type="date"  id="example-datetime-local-input" #date>
</div>
<div>
  <label >Date de fin</label>
  <div >
    <input  class="form-control" type="date"  id="example-datetime-local-input" #date>
  </div>
  <div>
