
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">

<body>

<h1 id="litheader">Affichage dynamique </h1>



<form>

  <div>
    <h2> Se connecter</h2>
    <div class="connexion">

      <input  type="text" name="username" [(ngModel)]="username"  placeholder="Identifiant">
    </div>
  </div>
  <div>
    <div class="connexion">
      <input  type="password" name="password" [(ngModel)]="password" placeholder="Mot de passe">
    </div>>
  </div>
  <div id="btnconnexion">
    <button  type="submit" name="Login" id="go" value="Connexion" (click)="doLogin()"> Connexion</button>
  </div>

</form>

</body>
