.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
.form-control{
  background-color: #fff;
  border: #777 1px solid;
  margin: 0 0 1.5em 0;
  border-radius: 0;
  width: 60%;


}



h2{

  padding-left: 18%;
  font-size: 20px;
padding-top: 50px;
}

#example-datetime-local-input{
  margin-left:18%;
}
.Personneab{
  width: 78%;
  padding-left: 18%;
  padding-top: 15px;
}

mat-label{
  padding: 0;
}
.ajout2{
  background-color: #389250;
  border: none;
  vertical-align: middle;
  color: white;
  padding: 6px 12px;




}
.divaj
{
  padding-left: 45%;
  padding-top: 10px;
}
