<h1> Ajout absence </h1>



  <mat-form-field appearance="fill">
    <mat-label>Personne absente</mat-label>
    <mat-select  matNativeControl [(ngModel)]="idPerson"  name="person"  class="form-control form-control-sm" #id_person>

      <mat-option  *ngFor="let person of persons" [value]="person.idPerson" >
        {{person.nom}} {{person.prenom}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<h2> Raison absence </h2>



<form>
  <label> Ajouter une raison absence si nécessaire : </label>
  <input #nom >
  <button type="button" class="btn btn-primary" (click)="AjouterMaladie(nom.value)"> Ajouter</button>
  <br><br>
  <select [(ngModel)]=" idAbsence"  name="absence"  class="form-control form-control-sm" #idindisponibilite >




    <option  *ngFor="let absence of absences" [value]="absence.idindisponibilite"  >
      {{absence.type}}
    </option>
  </select>
</form>
<br>
<label >Date début</label>
<div >
  <input  class="form-control" type="date"  id="example-datetime-local-input" #datedebut>
</div>
<div>
  <label >Date de fin</label>
  <div >
    <input  class="form-control" type="date"  id="example-datetime-local-input" #datefin>
  </div>
  <div>
    <button type="button" class="ajouter" (click)="save(id_person.value,idindisponibilite.value,datedebut.value,datefin.value);">   Sauvegarder</button>
  </div></div>
