<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<h1> Ajout absence </h1>


<h2>Personne absente</h2>
  <mat-form-field  class="Personneab" appearance="">

    <mat-select   [(ngModel)]="idPerson"  name="person"   #id_person>

      <mat-option  *ngFor="let person of persons" [value]="person.idPerson" >
        {{person.nom}} {{person.prenom}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<h2> Raison absence </h2>



<mat-form-field class="Personneab">


  <mat-select [(ngModel)]=" idAbsence"  name="absence"   #idindisponibilite >




    <mat-option  *ngFor="let absence of absences" [value]="absence.idindisponibilite"  >
      {{absence.type}}
    </mat-option>
  </mat-select>
</mat-form-field>


<h2> Ajouter une raison si besoin </h2>
<input #nom >
<div class="divaj">
<button type="button" class="ajout2" (click)="AjouterMaladie(nom.value)"> Ajouter</button>
</div>

<label >Date début</label>
<div >
  <input  class="form-control" type="date"  id="example-datetime-local-input" #datedebut>
</div>
<div>
  <label >Date de fin</label>
  <div >
    <input  class="form-control" type="date"  id="example-datetime-local-input" #datefin>
  </div>
  <div>
    <button type="button" class="ajouter" (click)="save(id_person.value,idindisponibilite.value,datedebut.value,datefin.value);">   Sauvegarder</button>
  </div></div>
