<div *ngIf="person else pasconnecte">

  <!DOCTYPE html>
  <html lang="fr">

  <head>
    <title>Affichage Dynamique</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

  </head>

  <body>
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <button class="btn-primary"  [routerLink]="['cours'] "> Cours</button>
      <button class="btn-primary" [routerLink]="['absences']">  Absences</button>
      <button class="btn-primary" [routerLink]="['messages']" >  Messages</button>
      <button class="btn-primary"[routerLink]="['eleves']" > Listes </button>
      <button class="btn-primary"[routerLink]="['users']" > utilisateurs </button>
      <button class="btn-primary"[routerLink]="['./affichages']" > Affichage </button>
      <button class="btn-danger"  (click)="doLogout()" >Déconnexion </button>

    </li>

  </ul>



  <router-outlet></router-outlet>
  </body>

  </html>


</div>

<ng-template #pasconnecte>

  <h1> vous n'êtes pas connecté</h1>

</ng-template>






