<!DOCTYPE html>
<html lang="fr">

<div *ngIf="person else pasconnecte">



  <head>
    <title>Affichage Dynamique</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">

  </head>

  <body>
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <button class="btn-primary"  [routerLink]="['cours'] "> Cours</button>
      <button class="btn-primary" [routerLink]="['absences']">  Absences</button>
      <button class="btn-primary" [routerLink]="['messages']" >  Messages</button>
      <button class="btn-primary"[routerLink]="['persons']" > Listes </button>
      <button class="btn-primary"[routerLink]="['users']" > Utilisateurs </button>
      <button class="btn-primary"[routerLink]="['./affichages']" > Affichage </button>
      <button class="btn-danger"  (click)="doLogout()" >Déconnexion </button>

    </li>

  </ul>
  <router-outlet></router-outlet>
  </body>




</div>

<ng-template #pasconnecte>

  <head>
    <title>Affichage Dynamique</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">

  </head>


<div class="image">
  <h1> Vous n'êtes pas connecté</h1>
  <button class="ajouter" id="go" [routerLink]="['../login']" > Se connecter </button>
</div>

</ng-template>


</html>



