<script src="../../../app-routing.module.ts"></script><h1>Menu Ecrans d'affichage</h1>

<div >
  <label>Nom nouvel écran</label>
  <input #nom>
  <button type="button" class="btn btn-success" (click)="save(nom.value);">Ajouter nouvel écran</button>
</div>

<table class="table table-striped">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nom Ecran</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <thead>

  </thead>

  <tbody>
  <tr *ngFor="let ecran of ecrans, index as i">
    <th scope="row">{{ i + 1 }}</th>


    <td scope="row">{{ecran.nomEcran}}</td>
    <td scope="row">
      <button type="button" class="btn btn-secondary" routerLink="../gestions/{{ecran.idEcran}}"> Gestion </button>

    </td>
    <td scope="row">

      <button type="button" class="btn btn-danger" (click)="supprimer(ecran.idEcran)" > Supprimer </button>

    </td>

    <td scope="row">

      <button type="button" class="btn btn-secondary" routerLink="../../affichageresultat/{{ecran.idEcran}}"> lancer affichage </button>

    </td>
  </tr>


</table>
