<body class="image">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

<div *ngIf="nomCours; then oui else non "></div>

<ng-template #oui >
  <img src="assets/ressources/mat2.png">
  <h3> Tableau des résultats</h3>
<h4> {{nomCours}}</h4>

  <table class="table table-striped">
    <thead>
    <th scope="col">#</th>
    <th> identifiant </th>
    <th scope="col">resultat</th>
    <th scope="col"> Réussite </th>

    </thead>
    <tbody>
    <tr *ngFor="let resultats of resultat, index as i">

      <th scope="row">{{i+1}}</th>

      <td scope="row">{{resultats?.numerounique}}</td>
      <td scope="row">{{resultats?.resultat}}</td>
      <td scope="row">
        <div *ngIf="resultats?.reussite then oui else non" ></div>
        <ng-template #oui>
          oui
        </ng-template>
        <ng-template #non>
          non
        </ng-template>
        </td>

    </tbody>

  </table>

</ng-template>
<ng-template #non  >

  <h2> Chargement des données... </h2>
  <img src="assets/ressources/math2.png">

</ng-template>

</body>
