<form>

  <label>Nom</label>
  <div >
  <input #nom />
</div>

  <label>Prénom</label>
  <div >
  <input #prenom>
</div>

<div >
  <label >Adresse Email</label>
  <input  type="email" class="form-control" placeholder="Email"  #email/>

</div >

<label >Date de naissance</label>
<div >
  <input  class="form-control" type="date"  id="example-datetime-local-input" #date>
</div>
</form>
  <label> attribuer un rôle : </label>
<div class="attribuer">
  <mat-form-field>

    <mat-select [(ngModel)]="idRole"  name="roles ">

      <mat-option  *ngFor="let role of roles" [value]="role.idRole" >
        {{role.name}}
      </mat-option>
    </mat-select>

  </mat-form-field>
</div>
<div>


<button type="button" class="ajouter" (click)="save(nom.value,prenom.value,email.value, date.value ,idRole);">   Sauvegarder</button>

</div>
