<body>
<table class="table table-striped">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nom</th>
    <th scope="col">Prenom</th>
    <th scope="col">Email</th>
    <th scope="col"> Date de naissance</th>
    <th scope="col"> </th>
  </tr>

<thead>

</thead>
<tbody>
<tr *ngFor="let eleve of eleve, index as i">
  <th scope="row">{{ i + 1 }}</th>


  <td scope="row">{{eleve.nom}}</td>
  <td scope="row">{{eleve.prenom}}</td>
  <td scope="row">{{eleve.email}}</td>
  <td scope="row">{{eleve.dateAnniversaire | date :'dd-LL-yyyy'}}</td>
  <td scope="row">
    <button type="button" class="btn btn-info" routerLink="../detailseleve/{{eleve.idPerson}}"> Détails </button>
  </td>
  <td scope="row">
    <button type="button" class="btn btn-secondary" routerLink="../modifier/{{eleve.idPerson}}"> Modifier </button>

  </td>

  <td scope="row">
    <button type="button" class="btn btn-danger" (click)="delete(eleve.idPerson)"> Supprimer </button>

  </td>
</tr>

<div >
  <label>Nom</label>
  <input #nom />
</div>
<div >
  <label>Prenom</label>
  <input #prenom>
</div>

<div >
  <label >Adresse Email</label>
  <input  type="email" class="form-control" placeholder="Email"  #email/>

</div >

<label >Date de naissance</label>
<div >
  <input  class="form-control" type="date"  id="example-datetime-local-input" #date>
</div>

<button type="button" class="btn btn-success" (click)="save(nom.value,prenom.value,email.value, date.value ); nom.value =''">   Sauvegarder</button>
</tbody>

</table>

</body>
