<div *ngIf="nomCours">
  <h2> Tableau des résultats</h2>

<h3> {{nomCours}}</h3>

  <table class="table table-striped">
    <thead>
    <th scope="col">#</th>
    <th> identifiant </th>
    <th scope="col">resultat</th>
    <th scope="col"> Réussite </th>

    </thead>
    <tbody>
    <tr *ngFor="let resultats of resultat, index as i">

      <th scope="row">{{i+1}}</th>

      <td scope="row">{{resultats?.numerounique}}</td>
      <td scope="row">{{resultats?.resultat}}</td>
      <td scope="row">{{resultats?.reussite}}</td>

    </tbody>

  </table>
</div>

