<div *ngIf="resultat">
  <h2> Tableau des résultats</h2>

  <h3> {{resultat?.nomCours}}</h3>

  <table class="table table-striped">
    <thead>
    <th scope="col">#</th>
    <th> identifiant </th>
    <th scope="col">resultat</th>
    <th scope="col"> Réussite </th>

    </thead>
    <tbody>
    <tr *ngFor="let resultat of resultat, index as i">

      <th scope="row">{{i+1}}</th>
      <td scope="row">{{resultat?.numerounique}}</td>
      <td scope="row">{{resultat?.resultat}}</td>
      <td scope="row">{{resultat?.reussite}}</td>

    </tbody>

  </table>

</div>
