<h1>Ajout de resultat</h1>

<h2> Cours : {{cours?.name}}</h2>
<h3> période : {{cours?.datedebut|date :'dd-MM-yyyy'}} - {{cours?.datefin|date :'dd-MM-yyyy'}}</h3>


<form appearance="fill">
  <label>Etudiant</label>
  <select  matNativeControl   name="person"  class="form-control form-control-sm" #idPerson>

    <option  *ngFor="let person of persons" [value]="person.idPerson" >
      {{person.nom}} {{person.prenom}}
    </option>
  </select>

<label> Cote : </label>
<input type="number" id="cote" name="cote" min="0" max="100" #resultat>
<div>
<label> réussite ?</label>

  <input type="checkbox" name="reussite" value=true #reussite>
</div>

  <button class="btn btn-success" (click)="save(idPerson.value,resultat.value,reussite.value)">  Enregistrer </button>
</form>
