<head>
  <title>Affichage Dynamique</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"

</head>




  <table  class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="name">Nom </th>
      <th> Détails</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cours of cours, index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td scope="row">{{cours.name}}</td>
      <td scope="row">
      <button type="button" class="btn btn-primary" routerLink="../detailscours/{{cours.idRole}}"> Détails</button>

      </td>

    </tr>

    </tbody>
  </table>



