<head>
  <title>Affichage Dynamique</title>
 

</head>




  <table  class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="name">Nom </th>
      <th> Détails</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cours of cours, index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td scope="row">{{cours.name}}</td>
      <td scope="row">
      <button type="button" class="btn btn-primary" routerLink="../detailscours/{{cours.idCours}}"> Détails</button>

      </td>

    </tr>

    </tbody>
  </table>



