<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Affichage Dynamique</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
<button class="btn-primary"  [routerLink]="['cours'] "> cours</button>
  </li>
  <button class="btn-primary" [routerLink]="['absences']">  absences</button>
  <button class="btn-primary" [routerLink]="['messages']" >  messages</button>
  <button class="btn-primary"[routerLink]="['eleves']" > listes </button>
  <button class="btn-primary"[routerLink]="['./affichages']" > Affichage </button>
  <button class="btn-danger"  (click)="doLogout()" >Déconnection </button>




</ul>
<router-outlet></router-outlet>



</body>

</html>
