<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Affichage Dynamique</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
<button btn-primary ngbButtonLabel [routerLink]="['cours'] ">Liste des cours</button>
  </li>
<button btn-primary ngbButtonLabel [routerLink]="['absences']"> Listes des absences</button>
<button btn-primary ngbButtonLabel [routerLink]="['messages']" > liste des messages</button>
<button btn-primary ngbButtonLabel [routerLink]="['eleves']" > Eleves</button>

</ul>
<router-outlet></router-outlet>



</body>

</html>
