<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Affichage Dynamique</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

<button mat-button [matMenuTriggerFor]="menu">Menu</button>

    <mat-menu #menu="matMenu" >Affichage Dynamique

      <a mat-button [routerLink]="['cours']"> Listes des Cours</a>
      <a mat-button routerLink="/absences"> Listes des absences</a>
      <a mat-button routerLink="/messages" > liste des messages</a>
      <a mat-button routerLink="/eleves" > Eleves</a>

    </mat-menu>

<router-outlet></router-outlet>



</body>

</html>
