<h1> Ajout de cours </h1>


  <label>Nom</label>
<div class="formulaire-nom">
  <input #nom />
</div>
<label >Date début</label>
<div >
  <input  class="form-control" type="date"  id="example-datetime-local-input" #dateDebut>
</div>
<div>
  <label >Date de fin</label>
  <div>
    <input  class="form-control" type="date"  id="example-datetime-local-input" #dateFin>
  </div>

</div>

<button type="button" class="ajouter" (click)="save(nom.value, dateDebut.value ,dateFin.value);">   Sauvegarder</button>
